*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.header{
    width: 100%;
    height: 70px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
    position: relative;
    z-index: 1;

}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.menu a{
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 18px;
    color: white;
}

.menu a:hover{
    color: gray;
}
 .dropdown {
    display: none;
    position: absolute;
    top: 36px;
    left: 0;
    background: #444;
    list-style: none;
    min-width: 120px;
    border-radius: 4px;
    overflow: hidden;
}
.dropdown li a {
    padding: 10px;
    color: white;
  }
.menu li:hover .dropdown {
    display: block; /* show dropdown on hover */
  }
  .hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
  }

.search-box{
    display: flex;
    align-items: center;
    color: white;
}

.search-box button{
    padding: 6px 20px;
    border: 1px solid;
    background: transparent;
    color: white;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    border-color: white;
}

.search-box button:hover{
    background: whitesmoke;
    color: black;
}
.bg-image {
    width: 100%;
    height: 100vh;
    background: url("images/hero.jpg") no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42 24 14 / 90%); 
    z-index: 0; 
}
.hero-section{
    display: flex;
    padding: 0 90px;
}
.left-side{
    width: 55%;
    position: relative;
    z-index: 1;

}
.left-side h1{
    color: white;
    font-size: 80px;
    font-weight: 100;
    padding-top: 100px;
    padding-bottom: 20px;
}
.right-side{
    width: 45%;
    padding-left: 50px;
    position: relative;
    z-index: 1;
}
.hero-sec-img{
    border: 2px solid;
    border-color: white;
    margin-top: 30px;
}
.hero-sec-img img{
    width: 100%;
    padding: 30px;
}
.side-bar img{
    width: 100%;

}
.side-bar{

}
.title-line {
  color: white;                
  padding: 30px 0px;
  font-size: 28px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 60px;
}

.title-line::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: white;
}
.right-side p{
    color: white;
    font-size: 12px;
    line-height: 1.5;in
}
.learn-more-btn{
    margin-top: 30px;
    padding: 15px 50px;
    font-size: 15px;
}

  .hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    user-select: none;
  }

@media screen and (min-width: 480px) and (max-width: 768px) {
    .logo {
    font-size: 13px;
    }
    .menu a {
        font-size: 14px;
    }
    .left-side h1 {
        font-size: 36px;
    }
    .right-side p {
        font-size: 10px;
    }
    .bg-image {
        height: 183vh !important;
    }
    .bg-image::before {
        height: 183vh !important;
    }
}

  @media (max-width: 768px) {
    .menu {
      position: absolute;
      top: 60px; 
      left: 0;
      right: 0;
      background: #333;
      flex-direction: column;
      display: none; 
    }

    .menu.active {
      display: flex;
    }

    .menu a {
      padding: 15px 20px;
      border-top: 1px solid #444;
    }

    .search-box {
      display: none;
    }

    .hamburger {
      display: block;
      color: white;
    }
    .logo {
    font-size: 15px;
    }
    .header {
        padding: 0px 20px;
    }
    .hero-section{
        padding: 0px 20px;
        display: flow;
    }
    .left-side{
        width: 100%;
    }
    .left-side h1 {
        font-size: 42px;
        padding-top: 50px;
    }
    .right-side {
        width: 100%;
        padding-left: 0px;
        padding-top: 30px;
    }
    .bg-image {
        height: 158vh;
    }
    .bg-image::before {
        height: 159vh;
    }
    .menu{
      position:absolute;
      top:60px;
      left:0;
      right:0;
      background:#333;
      flex-direction:column;
      display:none;  
      z-index:100;
    }


     .menu {
      flex-direction: column;
      display: none;
      width: 100%;
      background: #333;
      padding: 20px;
      list-style: none;
      z-index: 100;
    }
    .menu.active {
      display: flex;
    }
    .menu li {
      width: 100%;
    }
    .menu li:hover .dropdown {
      position: relative;
      top: 0;
    }
    .hamburger {
      display: block;
    }
  }