*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.header{
    width: 100%;
    height: 70px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
    position: relative;
    z-index: 1;

}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.menu a{
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 18px;
    color: white;
}

.menu a:hover{
    color: gray;
}
 .dropdown {
    display: none;
    position: absolute;
    top: 36px;
    left: 0;
    list-style: none;
    min-width: 120px;
    border-radius: 4px;
    overflow: hidden;
}
.dropdown li a {
    padding: 10px;
    color: white;
  }
.menu li:hover .dropdown {
    display: block; 
  }
  .hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
  }
.search-box{
    display: flex;
    align-items: center;
    color: white;
}

.search-box button{
    padding: 6px 20px;
    border: 1px solid;
    background: transparent;
    color: white;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    border-color: white;
}

.search-box button:hover{
    background: whitesmoke;
    color: black;
}
.bg-image {
    width: 100%;
    height: 100vh;
    background: url("images/hero.jpg") no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42 24 14 / 90%); 
    z-index: 0; 
}
.hero-section{
    display: flex;
    padding: 0 90px;
}
.left-side{
    width: 55%;
    position: relative;
    z-index: 1;

}
.left-side h1{
    color: white;
    font-size: 80px;
    font-weight: 100;
    padding-top: 100px;
    padding-bottom: 20px;
}
.right-side{
    width: 45%;
    padding-left: 50px;
    position: relative;
    z-index: 1;
}
.hero-sec-img{
    border: 2px solid;
    border-color: white;
    margin-top: 30px;
}
.hero-sec-img img{
    width: 100%;
    padding: 30px;
}
.side-bar img{
    width: 100%;

}
.side-bar{

}
.title-line {
  color: white;                
  padding: 30px 0px;
  font-size: 28px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 60px;
}

.title-line::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: white;
}
.right-side p{
    color: white;
    font-size: 12px;
    line-height: 1.5;in
}
.learn-more-btn{
    margin-top: 30px;
    padding: 15px 50px;
    font-size: 15px;
}

  .hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    user-select: none;
  }
  .search-box i{
    margin-right: 10px;
  }


  /*about us page*/

  .col-1{
    width: 50%;
    padding-left: 50px;
    position: relative;
    z-index: 1;
}
.col-2{
    width: 50%;
    padding-left: 50px;
    position: relative;
    z-index: 1;
}
.col-2 h3{
    color: white;
    font-size: 25px;
    font-weight: 100;
    padding: 10px 0px 40px 20px;
}
.aboutus-Heading{
    color: white;
    font-weight: 100;
    padding: 70px 0px 30px 20px;
    font-size: 58px;
}
.aboutus-Heading-2{
color: white;
    font-weight: 100;
    padding: 70px 0px 30px 0px;
    font-size: 58px;
}
.aboutus-p{
    color: white;
    padding: 10px 0px 0px 20px;
}


.gallery {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px; 
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

.img1 {
    height: 380px;
}

.img2 {
    height: 220px;
}

.img3 {
    height: 180px;
}

.img4 {
    height: 340px;
    margin-top: -160px;
}

.col-3{
    width: 50%;
    position: relative;
    z-index: 1;
}
.number {
  font-weight: 700;
  font-size: 24px;
  color: white;
  min-width: 40px;
}
.mission-item{
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.OurFacil-sec-img{
    width: 62%;
    border: 2px solid white;
    position: relative;
    z-index: 9;
    margin-top: 80px;
}
.OurFacil-sec-img img{
    width: 100%;
    padding: 10px;
    height: 100%;
}
.img-2{
        margin-top: -320px;
    float: right;
    width: 56%;
}
.bg-color{
    background-color: #3c2418;
    padding-bottom: 50px;
}
.sec-1{
    width: 30%;
    position: relative;
    z-index: 1;

}
.sec-2{
    width: 70%;
    position: relative;
    z-index: 1;

}
.sec-1-img{
    width: 100%;
    padding: 20px;
}
.d-flex{
    display: flex;
}
.p-t{
    padding-top: 40px;
}
.sec-2-img img{
    width: 100%;
    padding-top: 90px;
}
.form{
    padding-left: 20px;
    margin-top: 30px;
}
.form p{
    padding: 20px 0px;
}
.form label{
    color: white;
}
.form input{
    width: 50%;
    height: 33px;
    margin-left: 20px;
    border: none;
    background: transparent;
}
.contact-us-bg{
position: relative;
}
.img-4{
    position: absolute;
    z-index: 9;
        margin-left: -97px;
    margin-top: 59px;
}
.p-b{
    padding-bottom: 30px;
}

/* slider css*/

.main-slider img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.thumb-slider img {
  width: 100px;
  height: 70px;
  cursor: pointer;
  object-fit: cover;
  border: 2px solid transparent;
}

.thumb-slider .slick-current img {
  border-color: #f00;
}
.slider-div{
    margin-top: 60px;
    padding: 40px;
}
.thumb-slider{
    padding-top: 15px;
}
.t-center{
    text-align: center;
}

.body {
    font-family: Arial, sans-serif;
    background: #3c2418;
    margin: 0;
    padding: 0;
}

.container {
    width: 320px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.title {
    text-align: center;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.label {
    font-size: 16px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
}

.toggle-input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background: white;
    transition: .4s;
    border-radius: 50%;
}

.toggle-input:checked + .slider {
    background-color: #3c2418;
}

.toggle-input:checked + .slider:before {
    transform: translateX(21px);
}

.dropdown {
    padding: 5px;
    border-radius: 4px;
}

.save-btn {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #3c2418;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-btn:hover {
    background: #3c2418;
}

.msg {
    text-align: center;
    color: #3c2418;
    margin-top: 10px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
    .logo {
    font-size: 13px;
    }
    .menu a {
        font-size: 14px;
    }
    .left-side h1 {
        font-size: 36px;
    }
    .right-side p {
        font-size: 10px;
    }
    .bg-image {
        height: 183vh !important;
    }
    .bg-image::before {
        height: 217vh !important;
    }
    .col-1 {
        width: 100%;
        padding-left: 0px;
    }
    .hero-section {
    flex-direction: column-reverse; 
  }
  .img-2{
        margin-top: -315px !important;
    }
    .OurFacil-sec-img{
        margin-top: 80px;
    }
}

  @media (max-width: 768px) {
    .menu {
      position: absolute;
      top: 60px; 
      left: 0;
      right: 0;
      background: #333;
      flex-direction: column;
      display: none; 
    }
    .img-4{
        display: none;
    }
.sec-1{
    width: 100%;
}
.d-flex {
    flex-direction: column;
}
    .menu.active {
      display: flex;
      position: relative;
      z-index: 9;
    }
    .mob-img{
        width: 100%;
    }

    .menu a {
      padding: 15px 20px;
      border-top: 1px solid #444;
    }

    .search-box {
      display: none;
    }

    .hamburger {
      display: block;
      color: white;
    }
    .logo {
    font-size: 15px;
    }
    .header {
        padding: 0px 20px;
    }
    .hero-section{
        padding: 0px 20px;
    }
    .left-side{
        width: 100%;
    }
    .left-side h1 {
        font-size: 42px;
        padding-top: 50px;
    }
    .right-side {
        width: 100%;
        padding-left: 0px;
        padding-top: 30px;
        position: relative;
        z-index: 0;
    }
    .bg-image {
        height: 158vh;
    }
    .bg-image::before {
        height: 159vh;
    }
    .menu{
      position:absolute;
      top:60px;
      left:0;
      right:0;
      background:#333;
      flex-direction:column;
      display:none;  
      z-index:100;
    }


     .menu {
      flex-direction: column;
      display: none;
      width: 100%;
      background: #333;
      padding: 20px;
      list-style: none;
      z-index: 100;
    }
    .menu.active {
      display: flex;
      margin-top: 166px;
        padding-top: 0px;
    }
    .menu li {
      width: 100%;
      font-size: 33px;
        margin-top: 15px;
    }
    .menu li:hover .dropdown {
      position: relative;
      top: 0;
    }
    .hamburger {
      display: block;
    }
    .col-1 {
        width: 100%;
        padding-left: 0px;
    }
    .hero-section {
    flex-direction: column-reverse;
  }
  .aboutus-Heading {
        font-size: 26px;
        padding: 32px 0px 30px 0px;
  }
  .col-2 {
    width: 100%;
    padding-left: 20px;
    position: relative;
        z-index: 0;
  }
  .col-2 h3 {
    padding: 10px 0px 20px 0px;
    font-size: 20px;
  }
  .aboutus-p {
    padding: 0px 10px 0px 0px;
    }
    .img1 {
    height: 112px;
    }

    .img2 {
        height: 80px;
    }

    .img3 {
        height: 80px;
    }

    .img4 {
        height: 112px;
        margin-top: -40px;
    }
    .gallery {
        gap: 20px;
    }
    .col-3 {
    width: 100%;
    padding-left: 20px;
  }
  .img-2 {
    margin-top: -168px;
}
.OurFacil-sec-img{
    margin-top: 30px;
}
.main-slider img{
    height: 400px;
}
.slider-div {
    margin-top: 0px;
}

  }
